/* ---------------------------------------------------------------------------*/
/* base/tag/_code.scss                                                        */
/* ---------------------------------------------------------------------------*/

@charset "UTF-8";

code {
  font-size       : 85%;
  background-color: $gray-400;
  padding         : 1px 5px;
  white-space     : normal;
  color           : $gray-800;
}
