/* ---------------------------------------------------------------------------*/
/* base/tag/_kbd.scss                                                         */
/* ---------------------------------------------------------------------------*/

@charset "UTF-8";

kbd {
  padding         : .2rem .4rem .1rem;
  font-size       : 85%;
  color           : #fff;
  background-color: $gray-600;
  border-radius   : 2px;
}
