/* ---------------------------------------------------------------------------*/
/* base/tag/_q.scss                                                           */
/* ---------------------------------------------------------------------------*/

@charset "UTF-8";

q {
  font-size : 90%;
  font-style: italic;
  quotes    : '« ' ' »' '“' '”' '‘' '’';
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}
