/* ---------------------------------------------------------------------------*/
/* base/_scrollbar.scss                                                       */
/* ---------------------------------------------------------------------------*/

@charset "UTF-8";

* {
  scrollbar-color: $secondary transparent;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius   : 0;
  border          : 3px solid transparent;
}
