/* ---------------------------------------------------------------------------*/
/* drupal/things/_syndicate .scss                                             */
/* ---------------------------------------------------------------------------*/

@charset "UTF-8";

// [ SYNDICATE ]
.feed-icon {
  width          : 25px;
  height         : 25px;
  background-size: auto;
  background-size: cover;
  margin-top     : 1rem;
  margin-left    : auto;
}
