/* ---------------------------------------------------------------------------*/
/* drupal/module/_mailchimp.scss                                              */
/* ---------------------------------------------------------------------------*/

@charset "UTF-8";

[id*="mailchimp-signup-subscribe-block"] {
  [id*="mailchimp-newsletter"] {
    max-width   : 175px;
    float       : left;
    margin-right: 1rem;

    // BREAKPOINT LARGE UP
    @include media-breakpoint-up(lg) {
      max-width: 350px;
      .form-actions {
        margin-top: 3px;
      }
    }
  }
}
